$default-ff: 'Roboto Slab', serif;
$default-fc: #222222;
$light-fc: #fffefe;
$blue-fc: #42a5b1;
$hover-fc: #008d9f;



$color-0: #fdd154;

@mixin input() {
	font-family: $default-ff;
	border-radius: 4px;
	display: inline-block;
	height: 58px;
    padding: 0 10px;
	line-height: 52px;
	font-size: 21px;
	font-weight: normal;
	width: 100%;
	text-align: center;
	// padding: 0 30px;
	text-decoration: none;
	transition: 0.4s;
    box-sizing: border-box;


	color: $default-fc;
	border: 2px solid #fff;
	background: #fff;

	&::-webkit-input-placeholder{
        color: $default-fc;
	}

    &::-moz-placeholder {
        color: $default-fc;
    }

    &:-ms-input-placeholder {
        color: $default-fc;
    }

    &._is-empty {
        background: rgba(255,255,255,.5);
    }

    &._error {
    	border-color: #ee9595;
    	color: #cb6767;
    }
}


@mixin button-special() {
	background: $blue-fc;
	color: $light-fc;
	border-radius: 4px;
	display: inline-block;
	height: 58px;
	line-height: 52px;
	font-size: 21px;
	font-weight: normal;
	text-align: center;
	padding: 0 25px;
	text-decoration: none;
	transition: background 0.4s;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;

	&:hover {
		background: #008d9f;
	}
}


@mixin button-header() {
	border: 2px solid $color-0;
	border-radius: 4px;
	display: inline-block;
	height: 64px;
	line-height: 56px;
	font-size: 26px;
	font-weight: 500;
	color: $light-fc;
	text-align: center;
	padding: 0 30px;
	text-decoration: none;
	transition: background 0.4s;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;

	&:hover {
		background: rgba(#fff, 0.3);
	}
}

@mixin button() {
	border: 2px solid $blue-fc;
	border-radius: 4px;
	display: inline-block;
	height: 54px;
	line-height: 50px;
	font-size: 21px;
	font-weight: 500;
	color: $default-fc;
	text-align: center;
	padding: 0 25px;
	text-decoration: none;
	transition: background 0.4s;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;

	&:hover {
		background: rgba($blue-fc, 0.2);
	}
}




@mixin typo-point() {
    font-size: 21px;
    line-height: 30px;
    font-weight: normal;
}