@mixin user-select($user-select: none){
	-ms-user-select: $user-select;
	-webkit-user-select: $user-select;
	-moz-user-select: $user-select;
	user-select: $user-select;
}

@mixin cf() {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}


@mixin opacity($value: 0) {
	opacity: $value;
}


@mixin layout1() {
    box-sizing: border-box;
    max-width: 1140px;
	min-width: 840px;
	margin: 0 auto;
	padding: 0 20px;
}

@mixin layout2() {
    box-sizing: border-box;
    max-width: 490px;
    min-width: 490px;
    margin: 0 auto;
    padding: 0 20px;
}

// @mixin layout3() {
//     box-sizing: border-box;
//     max-width: 1100px;
//     min-width: 1100px;
//     margin: 0 auto;
//     padding: 0 20px;
// }

@mixin no-appear {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

@mixin middler() {
	&:after {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

@mixin column {
    float: left;
    box-sizing: border-box;
    width: 50%;
    
    &:nth-child(2n-1) {
        padding-right: 1.8%;
    }

    &:nth-child(2n) {
        padding-left: 1.8%;
    }
}




/**
 * Что: Неподчеркнутая ссылка
 * Когда: При наведении
 * Подчеркивание: прямая линия
 *
 * @mixin link
 * @param $color
 * @param $color-hover
 * @param $color-visited
 * @param $element
 * @param $hover-element
 */
@mixin link() {
    text-decoration: none;
    cursor: pointer;
    color: $blue-fc;
    transition: color 0.4s;
    
    &:hover {
        color: $hover-fc;
    }
}