section.auth-form
    button.auth-form__close(type="button")
    h3.ui-header-1._inverted Вход в личный кабинет

    .auth-form__inner
        form.auth-form__form(action="/")
            input.auth-form__input(type="text" placeholder="Логин")
            input.auth-form__input(type="password" placeholder="Пароль")
            button.auth-form__submit(type="submit") Войти

        .auth-form__errors
            p.auth-form__errors-item Введите верный пароль
