section.b-auth-form
    button.b-auth-form__close(type="button")
    h3.ui-header-1._inverted Вход в личный кабинет

    .b-auth-form__inner
        form.b-auth-form__form(action="/")
            input.b-auth-form__input(type="text" placeholder="Логин")
            input.b-auth-form__input(type="password" placeholder="Пароль")
            button.b-auth-form__submit(type="submit") Войти

        .b-auth-form__errors
            p.b-auth-form__errors-item Введите верный пароль
