footer.b-footer
    .ui-content.b-footer__contacts
        a.b-footer__order-call(href="#") Заказать обратный звонок

        .b-footer__contacts-big-row
            .b-footer__contacts-big-item._location
                a.b-footer__contacts-link(href="#")
                    span.b-footer__contacts-big-txt
                        | 652616, Кемеровская область, <br>
                        | город Белово, <br>
                        | ул. Придорожная, дом 42 


            .b-footer__contacts-big-item._phone
                a.b-footer__contacts-link(href="#")
                    span.b-footer__contacts-big-txt
                        | +7-923-120-55-55 


        ul.b-footer__contacts-small-row
            li.b-footer__contacts-small-item._email
                a.b-footer__contacts-link(href="#")
            li.b-footer__contacts-small-item._skype
                a.b-footer__contacts-link(href="#")
            li.b-footer__contacts-small-item._vk
                a.b-footer__contacts-link(href="#")
            li.b-footer__contacts-small-item._insta
                a.b-footer__contacts-link(href="#")
            li.b-footer__contacts-small-item._ok
                a.b-footer__contacts-link(href="#")

    .b-footer__inner
        .b-footer__logo-h
            span.b-footer__logo
            small.b-footer__date © 2015
