.b-header-promo
    h2.b-header-promo__title Достойная забота о ваших близких
    p.b-header-promo__text
        | Круглосуточный и квалифицированный уход,
        br
        | домашняя атмосфера и максимум  комфорта.
    a.b-header-promo__book-btn(href="#") Забронировать номер