header.b-header(class=headerClass)
    .b-header__inner
        .b-header__logo
            a.b-header__logo-link(href="#")
                span.b-header__logo-img
                p.b-header__logo-text
                    | Пансионат<br> для пожилых людей 

        ul.b-header__points
            li.b-header__points-item._menu
                a.b-header__points-item-link(href="#") 
                    span.b-header__points-item-txt Меню
            li.b-header__points-item._login
                a.b-header__points-item-link(href="#") 
                    span.b-header__points-item-txt Василий Петрович


    nav.b-navigation
        .b-navigation__inner
            .b-navigation__col
                ul.b-navigation__menu
                    li.b-navigation__menu-item._header
                        a.b-navigation__menu-item-link(href="#")
                            | Компания
                    
                    li.b-navigation__menu-item
                        a.b-navigation__menu-item-link(href="#")
                            | О нас
                    
                    li.b-navigation__menu-item
                        a.b-navigation__menu-item-link(href="#")
                            | Информация о сфере и направлении деятельности компании


            .b-navigation__col 
                ul.b-navigation__menu
                    li.b-navigation__menu-item._header
                        a.b-navigation__menu-item-link(href="#")
                            | Новости
                    
                ul.b-navigation__menu
                    li.b-navigation__menu-item._header
                        a.b-navigation__menu-item-link(href="#")
                            | Услуги
                    
                    li.b-navigation__menu-item
                        a.b-navigation__menu-item-link(href="#")
                            | Перечень услуг
                    
                    li.b-navigation__menu-item
                        a.b-navigation__menu-item-link(href="#")
                            | Акции


            .b-navigation__col
                ul.b-navigation__menu
                    li.b-navigation__menu-item._header
                        a.b-navigation__menu-item-link(href="#")
                            | Наша забота
                    
                    li.b-navigation__menu-item
                        a.b-navigation__menu-item-link(href="#")
                            | График работы
                    
                    li.b-navigation__menu-item
                        a.b-navigation__menu-item-link(href="#")
                            | График мероприятий

    include ./auth-form.jade