// Дописать header-у класс _promo для главной
header.header
    .header__inner
        .header__logo
            a.header__logo-link(href="#")
                span.header__logo-img
                p.header__logo-text
                    | Пансионат<br> для пожилых людей 

        ul.header__points
            li.header__points-item._menu
                a.header__points-item-link._menu(href="#") 
                    span.header__points-item-txt Меню
            li.header__points-item._login
                a.header__points-item-link._auth(href="#") 
                    span.header__points-item-txt Вход в личный кабинет


    nav.navigation
        .navigation__inner
            .navigation__col
                ul.navigation__menu
                    li.navigation__menu-item._header
                        a.navigation__menu-item-link(href="#")
                            | Компания
                    
                    li.navigation__menu-item
                        a.navigation__menu-item-link(href="#")
                            | О нас
                    
                    li.navigation__menu-item
                        a.navigation__menu-item-link(href="#")
                            | Информация о сфере и направлении деятельности компании


            .navigation__col 
                ul.navigation__menu
                    li.navigation__menu-item._header
                        a.navigation__menu-item-link(href="#")
                            | Новости
                    
                ul.navigation__menu
                    li.navigation__menu-item._header
                        a.navigation__menu-item-link(href="#")
                            | Услуги
                    
                    li.navigation__menu-item
                        a.navigation__menu-item-link(href="#")
                            | Перечень услуг
                    
                    li.navigation__menu-item
                        a.navigation__menu-item-link(href="#")
                            | Акции


            .navigation__col
                ul.navigation__menu
                    li.navigation__menu-item._header
                        a.navigation__menu-item-link(href="#")
                            | Наша забота
                    
                    li.navigation__menu-item
                        a.navigation__menu-item-link(href="#")
                            | График работы
                    
                    li.navigation__menu-item
                        a.navigation__menu-item-link(href="#")
                            | График мероприятий

    include ./auth-form.jade