meta(name="viewport" width="840")
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css')
link(href="css/style.css" rel="stylesheet" type="text/css")
script(src="js/jquery-2.1.4.min.js")
script(src="js/jquery.jcarousel.min.js")
script(src="js/init.js")