.header-promo
    h2.header-promo__title Достойная забота о ваших близких
    p.header-promo__text
        | Круглосуточный и квалифицированный уход,
        br
        | домашняя атмосфера и максимум  комфорта.
    a.header-promo__book-btn(href="#") Забронировать номер