.b-paginator
    ul.b-paginator__list
        li.b-paginator__item
            a.b-paginator__item-link(href="#")
                span.b-paginator__item-text 1
        li.b-paginator__item._active
            a.b-paginator__item-link(href="#")
                span.b-paginator__item-text 2
        li.b-paginator__item
            a.b-paginator__item-link(href="#")
                span.b-paginator__item-text 3
        li.b-paginator__item
            a.b-paginator__item-link(href="#")
                span.b-paginator__item-text ...
        li.b-paginator__item
            a.b-paginator__item-link(href="#")
                span.b-paginator__item-text 15