.paginator
    ul.paginator__list
        li.paginator__item
            a.paginator__item-link(href="#")
                span.paginator__item-text 1
        li.paginator__item._active
            a.paginator__item-link(href="#")
                span.paginator__item-text 2
        li.paginator__item
            a.paginator__item-link(href="#")
                span.paginator__item-text 3
        li.paginator__item
            a.paginator__item-link(href="#")
                span.paginator__item-text ...
        li.paginator__item
            a.paginator__item-link(href="#")
                span.paginator__item-text 15