.b-contact-us {
    background: #fdda76 url('../images/contact-us-bg.jpg') no-repeat center top;
    padding: 50px 0 140px;
}

    .b-contact-us__inner {
        @include layout2;
        position: relative;
    }

        .b-contact-us__form {
            
        }

            .b-contact-us__input {
                @include input;
                margin-bottom: 18px;
            }

            .b-contact-us__submit {
                @include button-special;
                margin-top: 20px;
            }


        .b-contact-us__success {
            height: 306px;
            text-align: center;
            box-sizing: border-box;
            padding-top: 40px;

            &:after {
                content: '';
                display: inline-block;
                width: 149px;
                height: 149px;
                vertical-align: top;
                margin-top: 50px;
                background: url('../images/icons/large-success.png');
            }
        }

            .b-contact-us__success-txt {
                color: #42a5b1;
                @include typo-point;
            }

        .b-contact-us__notice {
            @include typo-point;
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 25px;
            text-align: center;
        }

        .b-contact-us__errors {
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 25px;
            text-align: center;
        }

            .b-contact-us__errors-item {
                @include typo-point;
                color: #bf1919;
            }
