.b-gallery {
    @include typo;
    background: #e5eaeb;
    padding: 35px 0 70px;
}
    .b-gallery__holder {
        overflow: hidden;
    }

        .b-gallery__inner {
            width: 800px;
            height: 600px;
            margin: 0 auto;
            position: relative;
        }

            .b-gallery__prev,
            .b-gallery__next {
                cursor: pointer;
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 2;
                width: 800px;
                @include user-select;
            }

            .b-gallery__prev {
                left: -836px;
            }
            .b-gallery__next {
                left: 836px;
            }

            .b-gallery__list {
                width: 100%;
                position: relative;
                z-index: 1;
            }

                .b-gallery__item {
                    width: 100%;
                    background: #fff;
                    position: absolute;
                    opacity: 0;
                    transition: left 0.8s, opacity 0.8s;
                    z-index: 1;

                    &:before {
                        content: '';
                        position: absolute;
                        left: -36px;
                        width: 36px;
                        top: 0;
                        bottom: 0;
                        background: #e5eaeb;
                    }

                    &._pre-prev {
                        left: -1672px;
                    }

                    &._prev {
                        left: -836px;
                    }

                    &._current {
                        left: 0px;
                    }

                    &._next {
                        left: 836px;
                    }

                    &._post-next {
                        left: 1672px;
                    }

                    &._pre-prev,
                    &._prev,
                    &._next,
                    &._post-next {
                        opacity: 0.5;
                        z-index: 2;
                    }


                    &._prev,
                    &._current,
                    &._next {
                        z-index: 3;
                    }

                    &._current {
                        opacity: 1;

                        .b-gallery__item-controls {
                            display: block;
                        }
                    }
                }
                    
                    .b-gallery__item-title {
                        text-align: center;
                        font-size: 21px;
                        line-height: 70px;
                        display: block;
                    }

                    .b-gallery__item-controls {
                        position: relative;
                        top: 140px;
                        z-index: 2;
                        display: none;
                    }

                        .b-gallery__item-arrow-prev,
                        .b-gallery__item-arrow-next {
                            @include user-select;
                            width: 66px;
                            height: 106px;
                            position: absolute;
                        }

                    .b-gallery__item-img-h {
                        overflow: hidden;
                        width: 100%;
                        height: 426px;
                        position: relative;
                    }

                        .b-gallery__item-arrow-prev {
                            background: url('../images/arrow-white-prev.png');
                            left: 15px;
                        }
                        .b-gallery__item-arrow-next {
                            background: url('../images/arrow-white-next.png');
                            right: 15px;
                        }

                        .b-gallery__item-img-list {
                            position: relative;
                            font-size: 0;
                            white-space: nowrap;
                        }

                            .b-gallery__item-img-item {
                                display: inline-block;
                                vertical-align: top;
                            }

                                .b-gallery__item-img {
                                    max-width: 100%;
                                }

                    .b-gallery__item-bottom {
                        @include cf;
                        height: 104px;
                    }

                        .b-gallery__item-description {
                            font-size: 16px;
                            line-height: 24px;
                            box-sizing: border-box;
                            padding: 23px 30px 0px;
                            float: left;
                            width: 700px;
                        }

                        .b-gallery__item-counts {
                            float: left;
                            width: 100px;
                            padding-top: 23px;
                            font-size: 16px;
                            line-height: 24px;

                            &:before {
                                content: '';
                                float: left;
                                width: 27px;
                                height: 21px;
                                background: url('../images/icons/photo.png');
                                margin-right: 12px;
                            }
                        }



.b-gallery._3d-tour {
    background: #00636f;

        .b-gallery__inner {
            height: 460px;
        }


                .b-gallery__item {
                    background: #00636f;
                    transition: left 0.8s, opacity 0.8s, box-shadow 0.8s;

                    &:before {
                        background: #00636f;
                    }

                    &._pre-prev,
                    &._prev,
                    &._next,
                    &._post-next {
                        box-shadow: none;
                    }

                    &._current {
                        opacity: 1;
                    }
                }
}





.b-gallery._reviews {

        .b-gallery__inner {
            height: 350px;
        }


                .b-gallery__item {
                    @include cf;
                    background: transparent;

                    &:before {
                        background: transparent;
                    }
                }

                    .b-gallery__item-controls {
                        top: 52px;
                    }

                        .b-gallery__item-arrow-prev {
                            background: url('../images/arrow-blue-prev.png');
                            left: 0px;
                        }
                        .b-gallery__item-arrow-next {
                            background: url('../images/arrow-blue-next.png');
                            right: 0px;
                        }
}

    .b-gallery__person-img-h {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 100%;
        box-sizing: border-box;
        border: 3px solid #42a5b1;
        float: left;
        margin-left: 80px;
    }

        .b-gallery__person-img {
            max-width: 100%;
        }

    .b-gallery__review,
    .b-gallery__author {
        margin-left: 310px;
        padding-right: 70px;
    }

    .b-gallery__review {
        font-size: 21px;
        line-height: 28px;
    }
        
    .b-gallery__author {
        color: #42a5b1;
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
    }
