.b-go-back {
    margin-bottom: 30px;
}

    .b-go-back__link {
        font-size: 18px;
        line-height: 36px;
        position: relative;
        margin-left: 20px;
        @include link;
        
        &:before {
            content: '←';
            font-size: 24px;
            line-height: 24px;
            position: absolute;
            left: -38px;
            top: -1px;
        }
    }