.header {
    background: #00b1be url('../images/header-bg.jpg') no-repeat center -130px;
    color: $light-fc;

    &._promo {
        background-position: top center;
    }

    &._fixed {
        background: #008d9f;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
    }
}

    .header__inner {
        @include layout1;
        @include cf;
        box-sizing: border-box;
        height: 100px;

        .header._fixed & {
            height: 70px;
        }
    }

        .header__logo {
            width: 340px;
            float: left;
        }

            .header__logo-link {
                color: $light-fc;
                text-decoration: none;
                @include cf;
                display: block;
            }

                .header__logo-img {
                    float: left;
                    background: url('../images/logo.png') no-repeat;
                    background-size: 100%;
                    width: 163px;
                    height: 59px;
                    margin-top: 18px;
                    margin-right: 25px;

                    .header._fixed & {
                        margin-top: 12px;
                        width: 118px;
                        height: 42px;
                    }
                }

                .header__logo-text {
                    font-family: $default-ff;
                    font-size: 14px;
                    line-height: 18px;
                    margin-top: 30px;
                    float: left;

                    .header._fixed & {
                        margin-top: 20px;
                        font-size: 10px;
                        line-height: 14px;
                    }
                }



        .header__points {
            @include cf;
            float: right;
            margin-top: 20px;

            .header._fixed & {
                margin-top: 7px;
            }
        }

            .header__points-item {
                float: left;

                & + & {
                    margin-left: 15px;
                }

                &._menu {

                }
                &._login {

                }
            }

                .header__points-item-link {
                    display: inline-block;
                    color: $light-fc;
                    text-decoration: none;
                    height: 58px;
                    line-height: 47px;
                    box-sizing: border-box;
                    border: 2px solid transparent;
                    border-radius: 4px;
                    padding: 0 15px;
                    transition: border-color 0.3s;

                    &:hover,
                    &:focus {
                        border-color: $color-0;
                    }

                    &:before {
                        content: '';
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                    }


                    .header__points-item._menu & {
                        &:before {
                            background: url('../images/icons/menu.png');
                            width: 32px;
                            height: 20px;
                        }
                    }
                    .header__points-item._login & {
                        &:before {
                            background: url('../images/icons/auth.png');
                            width: 38px;
                            height: 18px;
                        }
                    }
                }

                    .header__points-item-txt {
                        vertical-align: middle;
                        font-size: 18px;
                        font-weight: normal;
                    }









.header-promo {
    height: 480px;
    padding-top: 125px;
    box-sizing: border-box;
    text-align: center;

    .header._fixed & {
        display: none;
    }
}

    .header-promo__title {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 15px;
    }

    .header-promo__text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 88px;
    }

    .header-promo__book-btn {
        @include button-header;
        width: 450px;
    }