.b-header-promo {
    height: 480px;
    padding-top: 125px;
    box-sizing: border-box;
    text-align: center;
    background: #00b1be url('../images/header-bg.jpg') no-repeat center bottom;
    color: $light-fc;

    // .header._fixed & {
    //     display: none;
    // }
}

    .b-header-promo__title {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 15px;
    }

    .b-header-promo__text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 88px;
    }

    .b-header-promo__book-btn {
        @include button-header;
        width: 450px;
    }