.b-in-smi-big {
    margin-bottom: 30px;
    @include cf;
}
    
    .b-in-smi-big__link {
        text-decoration: none;
    }

        .b-in-smi-big__img-h {
            float: left;
            @include column;
        }

            .b-in-smi-big__img {
                max-width: 100%;
            }

        .b-in-smi-big__caption {
            @include column;
        }

            .b-in-smi-big__title {
                font-size: 24px;
                line-height: 30px;
                margin: -5px 0 10px;
                font-weight: 300;
                @include link;
            }

            .b-in-smi-big__description {
                font-size: 18px;
                line-height: 26px;
                color: $default-fc;
            }

            .b-in-smi-big__date {
                display: block;
                font-size: 18px;
                line-height: 26px;
                margin-top: 10px;
                color: $default-fc;
            }

.b-in-smi {
    margin-bottom: 30px;
}
    
    .b-in-smi__link {
        text-decoration: none;
    }

        .b-in-smi__img {
            max-width: 100%;
        }

        .b-in-smi__caption {
        }

            .b-in-smi__title {
                font-size: 18px;
                line-height: 30px;
                margin: 14px 0 6px;
                font-weight: 300;
                @include link;
            }

            .b-in-smi__description {
                font-size: 16px;
                line-height: 24px;
                color: $default-fc;
            }

            .b-in-smi__date {
                display: block;
                font-size: 16px;
                line-height: 30px;
                margin-top: 4px;
                color: $default-fc;
            }