.b-navigation {
    background: #008d9f;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
    
    .b-navigation__inner {
        @include layout1;
        @include cf;
        padding-top: 35px;
        padding-bottom: 55px;
    }

        .b-navigation__col {
            width: 33.333%;
            box-sizing: border-box;
            float: left;

            & + & {
                padding-left: 2%;
            }
        }

            .b-navigation__menu {
                & + & {
                    margin-top: 46px;
                }
            }

                .b-navigation__menu-item {
                    &._header {
                    }
                }

                    .b-navigation__menu-item-link {
                        display: inline-block;
                        color: $light-fc;
                        text-decoration: none;
                        font-size: 18px;
                        line-height: 24px;
                        padding: 11px 22px 11px 45px;
                        border-radius: 4px;
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            background: transparent;
                        }
                        // &:after {
                        //     content: '';
                        //     position: absolute;
                        //     width: 600px;
                        //     height: 1px;
                        //     background: red;
                        //     top: 29px;
                        // }

                        &:hover {
                            background: #00a7bc;

                            &:before {
                                left: 12px;
                                top: 13px;
                                width: 20px;
                                height: 20px;
                                background: url('../images/icons/star-filled.png') no-repeat;
                            }
                        }

                        .b-navigation__menu-item._header & {
                            font-size: 21px;
                            color: $color-0;
                            font-weight: 700;

                            &:before {
                                left: 10px;
                                top: 11px;
                                width: 24px;
                                height: 24px;
                                background: url('../images/icons/star.png') no-repeat;
                            }
                        }
                    }

