.b-page {
    min-height: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding-bottom: 130px;
    margin-bottom: -130px;

    &._header-fixed {
        padding-top: 100px;
    }
}