doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
    <!--<![endif]-->
    head
        include ./includes/head.jade

    body
        - headerClass = '_promo'
        include ./includes/header.jade
        .b-page
            include ./includes/header-promo.jade

            section.ui-content
                h2.ui-header-1 О нас
                
                .b-about-us
                    p.b-about-us__description
                        | Мы предоставляем своим подопечным круглосуточный и квалифицированный уход, частичку домашней атмосферы и комфорта. Весь наш персонал доброжелателен, терпелив и всегда тактичен. Специалисты имеют богатый опыт работы с пожилыми людьми, с теми, кто нуждается в постоянном уходе, а также навыки работы с малоподвижными людьми. 

                    ul.b-about-us__cases-big
                        li.b-about-us__cases-big-item._24h
                            p.b-about-us__cases-big-txt
                                | Круглосуточный уход

                        li.b-about-us__cases-big-item._care
                            p.b-about-us__cases-big-txt
                                | Еженедельный осмотр врача

                        li.b-about-us__cases-big-item._meds
                            p.b-about-us__cases-big-txt
                                | Контроль приема лекарств
                    

                    ul.b-about-us__cases-medium
                        li.b-about-us__cases-medium-item._comfort
                            p.b-about-us__cases-medium-txt
                                | Комфортабельные команты

                        li.b-about-us__cases-medium-item._monitoring
                            p.b-about-us__cases-medium-txt
                                | Мониторинг состояния<br> здоровья через личный<br> кабинет на сайте

                        li.b-about-us__cases-medium-item._wash
                            p.b-about-us__cases-medium-txt
                                | Гигиенический<br> и косметический<br> уход
                       
                        li.b-about-us__cases-medium-item._devices
                            p.b-about-us__cases-medium-txt
                                | Медицинское<br> и специальное<br> оборудование


                a.ui-button._indent-after(href="#") Все достоинства нашего пансионата




            // Слайдер с фотками
            section.b-gallery
                h2.ui-header-1 Номера и виды пансионата
                .b-gallery__holder
                    .b-gallery__inner
                        button.b-gallery__prev(type="button")
                        button.b-gallery__next(type="button")
                        ul.b-gallery__list
                            li.b-gallery__item
                                strong.b-gallery__item-title Зоны отдыха, досуга и проведений мероприятий
                                .b-gallery__item-controls
                                    button.b-gallery__item-arrow-prev(type="button")
                                    button.b-gallery__item-arrow-next(type="button")
                                .b-gallery__item-img-h
                                    ul.b-gallery__item-img-list
                                        li.b-gallery__item-img-item
                                            img.b-gallery__item-img(src="content/gallery1.jpg" alt="")
                                        li.b-gallery__item-img-item
                                            img.b-gallery__item-img(src="content/gallery2.jpg" alt="")

                                .b-gallery__item-bottom
                                    .b-gallery__item-description
                                        | Зоны отдыха, досуга и проведений мероприятий. Здесь всегда можно весело провести время

                                    .b-gallery__item-counts
                                        span 1
                                        span /
                                        span 2

            // Слайдер с видосами
            section.b-gallery._3d-tour
                h2.ui-header-1._inverted Виртуальный тур
                .b-gallery__holder
                    .b-gallery__inner
                        button.b-gallery__prev(type="button")
                        button.b-gallery__next(type="button")
                        ul.b-gallery__list
                            li.b-gallery__item
                                .b-gallery__item-img-h
                                    img.b-gallery__item-img(src="content/gallery1.jpg" alt="")

            section.ui-content
                h2.ui-header-1 Сми о нас


                div#smi
                    article.b-in-smi-big
                        a.b-in-smi-big__link(href="#" title="Полезный досуг в пансионате ")
                            .b-in-smi-big__img-h
                                img.b-in-smi-big__img(src="content/news-big1.jpg" alt="")

                            .b-in-smi-big__caption
                                h3.b-in-smi-big__title
                                    | Forbes.ru

                                p.b-in-smi-big__description
                                    | ЦБ России сформировал список из десяти системно значимых банков, к которым будут предъявляться требования по нормативу краткосрочной ликвидности 
                                
                                time.b-in-smi-big__date(datetime="2015-11-07")
                                    | 14.04.15
                    .ui-row
                        .ui-column 
                            article.b-in-smi
                                a.b-in-smi__link(href="#" title="Полезный досуг в пансионате ")
                                    .b-in-smi__caption
                                        h3.b-in-smi__title
                                            | Finparty.ru

                                        p.b-in-smi__description
                                            | Агентство по страхованию вкладов (АСВ) по программе господдержки передало банкам "Петрокоммерц" и "ФК Открытие" облигации федерального займа (ОФЗ) на сумму 
                                        
                                        time.b-in-smi__date(datetime="2015-11-07")
                                            | 14.04.15
                        .ui-column
                            article.b-in-smi
                                a.b-in-smi__link(href="#" title="")
                                    .b-in-smi__caption
                                        h3.b-in-smi__title
                                            | Vedomosti.ru

                                        p.b-in-smi__description
                                            | ЦБ РФ в конце декабря 2014 года принял решение санировать "Траст" при помощи АСВ, санатором был выбран банк "ФК Открытие", входящий в "Открытие Холдинг".
                                        
                                        time.b-in-smi__date(datetime="2015-11-07")
                                            | 07.11.15
                

                button.ui-button._indent-after(type="button") Показать еще 






            // Слайдер с отзывами
            section.b-gallery._reviews
                h2.ui-header-1 Отзывы наших клиентов
                .b-gallery__holder
                    .b-gallery__inner
                        button.b-gallery__prev(type="button")
                        button.b-gallery__next(type="button")
                        ul.b-gallery__list
                            li.b-gallery__item
                                .b-gallery__item-controls
                                    button.b-gallery__item-arrow-prev(type="button")
                                    button.b-gallery__item-arrow-next(type="button")
                                .b-gallery__person-img-h
                                    img.b-gallery__person-img(src="content/person.jpg" alt="")

                                .b-gallery__review
                                    | Коллектив дома - это одна дружная семья, которая очень внимательно, с душой относится к отдыхающим. Здесь тебе обеспеченно лечение, вкусное калорийное питание и прекрасный отдых. Еще раз большое спасибо за теплый прием и ласку. Буду скучать.
                                    
                                .b-gallery__author
                                    | Иван Александрович,<br>
                                    | инвалид Отечественной войны




            section.b-contact-us
                h3.ui-header-1 Свяжитесь с нами

                .b-contact-us__inner
                    form.b-contact-us__form(action="/")
                        input.b-contact-us__input(type="text" placeholder="Ваше имя")
                        input.b-contact-us__input(type="text" placeholder="Телефон*")
                        input.b-contact-us__input(type="text" placeholder="E-mail*")
                        button.b-contact-us__submit(type="submit") Оставить заявку

                    .b-contact-us__success(style="display: none")
                        p.b-contact-us__success-txt Ваша заявка успешно отправлена!

                    .b-contact-us__notice
                        | Специалист свяжется с вами<br>
                        | в течение 15 минут
                    
                    .b-contact-us__errors(style="display: none")
                        p.b-contact-us__errors-item Введите номер вашего телефона









            section.ui-content
                h2.ui-header-1 Контактная информация
                .b-contacts-block
                    ul.b-contacts-block__list
                        li.b-contacts-block__item._location
                            a.b-contacts-block__item-link(href="#")
                                span.b-contacts-block__item-icon
                                p.b-contacts-block__item-txt
                                    | 652616, Кемеровская область, <br>
                                    | город Белово,
                                    | ул. Придорожная, дом 42 
                        
                        li.b-contacts-block__item._phone
                            a.b-contacts-block__item-link(href="#")
                                span.b-contacts-block__item-icon
                                p.b-contacts-block__item-txt
                                    | +7 (384-52) 3-40-50, <br>
                                    | +7-923-52-77-555

                        li.b-contacts-block__item._email
                            a.b-contacts-block__item-link(href="#")
                                span.b-contacts-block__item-icon
                                p.b-contacts-block__item-txt
                                    | info@status-pansionat.ru
                        
                        li.b-contacts-block__item._skype
                            a.b-contacts-block__item-link(href="#")
                                span.b-contacts-block__item-icon
                                p.b-contacts-block__item-txt
                                    | status-pansionat

                        li.b-contacts-block__item._vk
                            a.b-contacts-block__item-link(href="#")
                                span.b-contacts-block__item-icon
                                p.b-contacts-block__item-txt
                                    | Мы ВКонтакте
                        
                        li.b-contacts-block__item._insta
                            a.b-contacts-block__item-link(href="#")
                                span.b-contacts-block__item-icon
                                p.b-contacts-block__item-txt
                                    | Мы в Instagramm
                                    
                        li.b-contacts-block__item._ok
                            a.b-contacts-block__item-link(href="#")
                                span.b-contacts-block__item-icon
                                p.b-contacts-block__item-txt
                                    | Мы в одноклассниках

        include ./includes/footer.jade
