doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
    <!--<![endif]-->
    head
        include ./includes/head.jade

    body
        .page
            include ./includes/header.jade

            section.ui-content
                h2.ui-header-1 Новости пансионата

                article.news-big
                    a.news-big__link(href="#" title="Словотерапия как метод работы с пожилыми людьми")
                        img.news-big__img(src="content/news-big1.jpg" alt="Старички")
                        .news-big__caption
                            h3.news-big__title
                                | Словотерапия как метод работы с пожилыми людьми

                            p.news-big__description
                                | С детства мы знаем, что есть волшебные слова, которые, если их произносить с доброй внутренней подачей, способны буквально творить чудеса. Это слова вежливости: «здравствуйте», «спасибо», «пожалуйста», «благодарю»...
                            
                            time.news-big__date(datetime="2015-11-07")
                                | 07.11.15



                .ui-row
                    .ui-column 
                        article.news-small
                            a.news-small__link(href="#" title="Полезный досуг в пансионате ")
                                img.news-small__img(src="content/news-big1.jpg" alt="")
                                .news-small__caption
                                    h3.news-small__title
                                        | Полезный досуг в пансионате 

                                    p.news-small__description
                                        | Постояльцы проводят время в нашем пансионате не только интересно, но и с полезной для собственного здоровья и развития.
                                    
                                    time.news-small__date(datetime="2015-11-07")
                                        | 07.11.15
                    .ui-column
                        article.news-small
                            a.news-small__link(href="#" title="")
                                img.news-small__img(src="content/news-big1.jpg" alt="")
                                .news-small__caption
                                    h3.news-small__title
                                        | Одна из любимых забав наших постояльцев — лото 

                                    p.news-small__description
                                        | С помощью лото наши постояльцы скрашивают свое время.
                                    
                                    time.news-small__date(datetime="2015-11-07")
                                        | 07.11.15
                
                    .ui-column 
                        article.news-small
                            a.news-small__link(href="#" title="Полезный досуг в пансионате ")
                                img.news-small__img(src="content/news-big1.jpg" alt="")
                                .news-small__caption
                                    h3.news-small__title
                                        | Полезный досуг в пансионате 

                                    p.news-small__description
                                        | Постояльцы проводят время в нашем пансионате не только интересно, но и с полезной для собственного здоровья и развития.
                                    
                                    time.news-small__date(datetime="2015-11-07")
                                        | 07.11.15
                    .ui-column
                        article.news-small
                            a.news-small__link(href="#" title="")
                                img.news-small__img(src="content/news-big1.jpg" alt="")
                                .news-small__caption
                                    h3.news-small__title
                                        | Одна из любимых забав наших постояльцев — лото 

                                    p.news-small__description
                                        | С помощью лото наши постояльцы скрашивают свое время и получают море эмоций.
                                    
                                    time.news-small__date(datetime="2015-11-07")
                                        | 07.11.15




                article.news-big
                    a.news-big__link(href="#" title="Словотерапия как метод работы с пожилыми людьми")
                        img.news-big__img(src="content/news-big1.jpg" alt="Старички")
                        .news-big__caption
                            h3.news-big__title
                                | Словотерапия как метод работы с пожилыми людьми

                            p.news-big__description
                                | С детства мы знаем, что есть волшебные слова, которые, если их произносить с доброй внутренней подачей, способны буквально творить чудеса. Это слова вежливости: «здравствуйте», «спасибо», «пожалуйста», «благодарю»...
                            
                            time.news-big__date(datetime="2015-11-07")
                                | 07.11.15

                

                .ui-row
                    .ui-column 
                        article.news-small
                            a.news-small__link(href="#" title="Полезный досуг в пансионате ")
                                img.news-small__img(src="content/news-big1.jpg" alt="")
                                .news-small__caption
                                    h3.news-small__title
                                        | Полезный досуг в пансионате 

                                    p.news-small__description
                                        | Постояльцы проводят время в нашем пансионате не только интересно, но и с полезной для собственного здоровья и развития.
                                    
                                    time.news-small__date(datetime="2015-11-07")
                                        | 07.11.15
                    .ui-column
                        article.news-small
                            a.news-small__link(href="#" title="")
                                img.news-small__img(src="content/news-big1.jpg" alt="")
                                .news-small__caption
                                    h3.news-small__title
                                        | Одна из любимых забав наших постояльцев — лото 

                                    p.news-small__description
                                        | С помощью лото наши постояльцы скрашивают свое время и получают море эмоций.
                                    
                                    time.news-small__date(datetime="2015-11-07")
                                        | 07.11.15

                button.ui-button._wide._indent-after(type="button") Показать еще 


        include ./includes/footer.jade