doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
    <!--<![endif]-->
    head
        include ./includes/head.jade

    body
        .b-page
            include ./includes/header.jade

            section.ui-content
                .b-go-back
                    a.b-go-back__link(href="#") Все новости

                article.b-news-page
                    h2.ui-header-1._left._shy Словотерапия как метод работы с пожилыми людьми
                    time.b-news-page__date(datetime="2015-11-07")
                        | 07.11.15
                    
                    .b-news-page__content
                        img.pic(src="content/news-big1.jpg" alt="")

                        p Так например в Красноярском центре медицинских технологий при Сибирском отделении наук проводили исследования влияния словесной информации на иммунную систему человека. «Добрые слова», которые медики применяли на психотерапевтических сеансах, улучшали настроение пациентов и, что самое важное, даже изменяли состав крови, повышая ее энергетическую емкость, укрепляя клеточный иммунитет.

                        p Происходили изменения и в структуре ДНК. У пациентов после сеансов словотерапии быстрее зарубцовывались гнойные абсцессы. Больные простудными заболеваниями выздоравливали на 5-7 дней раньше, чем принимавшие лекарства. В топе самых эффективных по своему воздействию слов оказались "любовь", "надежда", "вера", "доброта". В пансионате для пожилых людей «Радость» также активно применяется метод словотерапии.  

                        p.big Ежедневно в стенах пансионата проводятся литературные гостиные, на которых звучат хорошо знакомые тексты наших великих классиков.  
                        
                        p В рамках проекта были прочитаны «Повести Белкина», поэмы, сказки и стихи поэта. Подопечные пансионата с неподдельным энтузиазмом включились в литературный процесс. Пушкина любят все, и, как выяснилось, не только любят, но и прекрасно помнят. С трогательной радостью наши бабушки декларировали строки, выученные наизусть 60, а то и 70 лет назад. Перед чтением и после него измерялось артериальное давление. Если были какие-то отклонения в сторону повышения или понижения, то после чтения Пушкина давление у подопечных пансионата приходило в норму. 




                        div.pics
                            figure
                                img(src="content/news-big1.jpg" alt="")

                                figcaption
                                    | С помощью лото наши постояльцы скрашивают свое время и получают море эмоций.
                            figure
                                img(src="content/news-big1.jpg" alt="")

                                figcaption
                                    | С помощью лото наши постояльцы скрашивают свое время и получают море эмоций.

                            figure
                                img(src="content/news-big1.jpg" alt="")

                                figcaption
                                    | С помощью лото наши постояльцы скрашивают свое время и получают море эмоций.

                            figure
                                img(src="content/news-big1.jpg" alt="")

                                figcaption
                                    | С помощью лото наши постояльцы скрашивают свое время и получают море эмоций.


                        p В рамках проекта были прочитаны «Повести Белкина», поэмы, сказки и стихи поэта. Подопечные пансионата с неподдельным энтузиазмом включились в литературный процесс. Пушкина любят все, и, как выяснилось, не только любят, но и прекрасно помнят. С трогательной радостью наши бабушки декларировали строки, выученные наизусть 60, а то и 70 лет назад. Перед чтением и после него измерялось артериальное давление. Если были какие-то отклонения в сторону повышения или понижения, то после чтения Пушкина давление у подопечных пансионата приходило в норму. 


            .ui-content-box
                section.ui-content
                    h3.ui-header-1 Другие новости

                    .ui-row
                        .ui-column 
                            article.b-news-small
                                a.b-news-small__link(href="#" title="Полезный досуг в пансионате ")
                                    img.b-news-small__img(src="content/news-big1.jpg" alt="")
                                    .b-news-small__caption
                                        h3.b-news-small__title
                                            | Полезный досуг в пансионате 

                                        p.b-news-small__description
                                            | Постояльцы проводят время в нашем пансионате не только интересно, но и с полезной для собственного здоровья и развития.
                                        
                                        time.b-news-small__date(datetime="2015-11-07")
                                            | 07.11.15
                        .ui-column
                            article.b-news-small
                                a.b-news-small__link(href="#" title="")
                                    img.b-news-small__img(src="content/news-big1.jpg" alt="")
                                    .b-news-small__caption
                                        h3.b-news-small__title
                                            | Одна из любимых забав наших постояльцев — лото 

                                        p.b-news-small__description
                                            | С помощью лото наши постояльцы скрашивают свое время и получают море эмоций.
                                        
                                        time.b-news-small__date(datetime="2015-11-07")
                                            | 07.11.15


        include ./includes/footer.jade