doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
    <!--<![endif]-->
    head
        include ./includes/head.jade

    body
        include ./includes/header.jade
        .b-page
            section.b-person
                h3.b-person-title Карточка постояльца

            section.b-person-head
                .b-person-head__face
                    img(src="content/face.jpg" alt="")

                .b-person-head__info
                    .b-person-head__info-data
                        dl.b-person-head__stats
                            dt.b-person-head__stats-name Дата рождения
                            dd.b-person-head__stats-value 05.11.1940

                            dt.b-person-head__stats-name Принят
                            dd.b-person-head__stats-value 05.11.15

                            dt.b-person-head__stats-name В пансионате
                            dd.b-person-head__stats-value 1 месяц, 4 дня

                        h2.b-person-head__header Валерий Михайлович Иванов

                        time.b-person-head__date(datetime="2015-12-05") Данные на 05.12.2015, 15:20



                    .b-person-head__table
                        .b-person-head__table-item-h._age
                            span.b-person-head__table-item
                                span.b-person-head__table-item-value 75
                                span.b-person-head__table-item-label Возвраст
                        
                        .b-person-head__table-item-h._weight
                            span.b-person-head__table-item
                                span.b-person-head__table-item-value
                                    | 68
                                    small кг
                                span.b-person-head__table-item-label Вес
                        
                        .b-person-head__table-item-h._height._male
                            span.b-person-head__table-item
                                span.b-person-head__table-item-value 
                                    | 175
                                    small см
                                span.b-person-head__table-item-label Рост
                       
                        .b-person-head__table-item-h._temp
                            span.b-person-head__table-item
                                span.b-person-head__table-item-value 36,7°
                                span.b-person-head__table-item-label Температура




            section.b-person-graph
                h3.b-person-title Давление





            section.b-person-meta
                .b-person-meta__visits
                    h3.b-person-title График посещений
                    table.b-person-meta__table
                        tr.b-person-meta__table-row
                            td.b-person-meta__table-cell._day Понедельник
                            td.b-person-meta__table-cell._time 9:00 &mdash; 11:00
                        tr.b-person-meta__table-row
                            td.b-person-meta__table-cell._day Вторник
                            td.b-person-meta__table-cell._time 9:00 &mdash; 11:00
                        tr.b-person-meta__table-row
                            td.b-person-meta__table-cell._day Среда
                            td.b-person-meta__table-cell._time 15:00 &mdash; 18:00
                        tr.b-person-meta__table-row
                            td.b-person-meta__table-cell._day Четверг
                            td.b-person-meta__table-cell._time &mdash;
                        tr.b-person-meta__table-row
                            td.b-person-meta__table-cell._day Пятница
                            td.b-person-meta__table-cell._time 16:00 &mdash; 18:00
                        tr.b-person-meta__table-row
                            td.b-person-meta__table-cell._day._holyday Суббота
                            td.b-person-meta__table-cell._time 9:00 &mdash; 11:00
                        tr.b-person-meta__table-row
                            td.b-person-meta__table-cell._day._holyday Воскресенье
                            td.b-person-meta__table-cell._time 9:00 &mdash; 11:00
                .b-person-meta__wishes
                    h3.b-person-title Пожелания
                    button.b-person-meta__add-btn(type="button")
                        | Добавить

                    .b-person-meta__wishes-inner
                        article.b-person-meta__wish
                            time.b-person-meta__wish-date(datetime="2015-04-12") 14.04.15
                            p.b-person-meta__wish-text
                                | Необходимо добавить дополнительные продукты в меню нашего дедушки. Свяжитесь, пожалуйста с нами!
                        
                        article.b-person-meta__wish
                            time.b-person-meta__wish-date(datetime="2015-04-18") 18.04.15
                            p.b-person-meta__wish-text
                                | Что-нибудь по-короче

                        article.b-person-meta__wish._done
                            time.b-person-meta__wish-date(datetime="2015-04-12") 14.04.15
                            p.b-person-meta__wish-text
                                | Необходимо добавить дополнительные продукты в меню нашего дедушки. Свяжитесь, пожалуйста с нами!

                    include ./includes/paginator.jade



            section.b-person-menu
                h3.b-person-title Меню на 15.12.2015
                .b-person-menu__inner
                    article.b-person-menu__item
                        a.b-person-menu__item-link(href="#")
                            .b-person-menu__item-img
                                img(src="content/menu-pic.jpg" alt="")
                            strong.b-person-menu__item-title Завтрак
                            ul.b-person-menu__item-list
                                li.b-person-menu__item-list-unit Суп мол. рисовый
                                li.b-person-menu__item-list-unit Блинчики со сметаной
                                li.b-person-menu__item-list-unit Кефир
                                li.b-person-menu__item-list-unit Чай, кофе, лимон
                                li.b-person-menu__item-list-unit Ватрушка с повидлом
                                li.b-person-menu__item-list-unit Хлеб

                    article.b-person-menu__item
                        a.b-person-menu__item-link(href="#")
                            .b-person-menu__item-img
                                img(src="content/menu-pic.jpg" alt="")
                            strong.b-person-menu__item-title Обед
                            ul.b-person-menu__item-list
                                li.b-person-menu__item-list-unit Салат из св. капусты
                                li.b-person-menu__item-list-unit Борщ Украинский со сметаной
                                li.b-person-menu__item-list-unit Пампушки с чесноком
                                li.b-person-menu__item-list-unit Картофель отварной
                                li.b-person-menu__item-list-unit Котлета мясная
                                li.b-person-menu__item-list-unit Компот из фруктов
                                li.b-person-menu__item-list-unit Хлеб (черн., бел.)

                    article.b-person-menu__item
                        a.b-person-menu__item-link(href="#")
                            .b-person-menu__item-img
                                img(src="content/menu-pic.jpg" alt="")
                            strong.b-person-menu__item-title Полдник
                            ul.b-person-menu__item-list
                                li.b-person-menu__item-list-unit Суп мол. рисовый
                                li.b-person-menu__item-list-unit Блинчики со сметаной
                                li.b-person-menu__item-list-unit Кефир
                                li.b-person-menu__item-list-unit Чай, кофе, лимон
                                li.b-person-menu__item-list-unit Ватрушка с повидлом
                                li.b-person-menu__item-list-unit Хлеб

                    article.b-person-menu__item
                        a.b-person-menu__item-link(href="#")
                            .b-person-menu__item-img
                                img(src="content/menu-pic.jpg" alt="")
                            strong.b-person-menu__item-title Ужин
                            ul.b-person-menu__item-list
                                li.b-person-menu__item-list-unit Суп мол. рисовый
                                li.b-person-menu__item-list-unit Блинчики со сметаной
                                li.b-person-menu__item-list-unit Кефир
                                li.b-person-menu__item-list-unit Чай, кофе, лимон
                                li.b-person-menu__item-list-unit Ватрушка с повидлом
                                li.b-person-menu__item-list-unit Хлеб


            section.ui-content-box
                .ui-layout 
                    .ui-content._lefted
                        h3.ui-header-1._lefted Последние мероприятия

                        .ui-row
                            .ui-column 
                                article.b-news-small
                                    a.b-news-small__link(href="#" title="Полезный досуг в пансионате ")
                                        img.b-news-small__img(src="content/news-big1.jpg" alt="")
                                        .b-news-small__caption
                                            h3.b-news-small__title
                                                | Полезный досуг в пансионате 

                                            p.b-news-small__description
                                                | Постояльцы проводят время в нашем пансионате не только интересно, но и с полезной для собственного здоровья и развития.
                                            
                                            time.b-news-small__date(datetime="2015-11-07")
                                                | 07.11.15
                            .ui-column
                                article.b-news-small
                                    a.b-news-small__link(href="#" title="")
                                        img.b-news-small__img(src="content/news-big1.jpg" alt="")
                                        .b-news-small__caption
                                            h3.b-news-small__title
                                                | Одна из любимых забав наших постояльцев — лото 

                                            p.b-news-small__description
                                                | С помощью лото наши постояльцы скрашивают свое время и получают море эмоций.
                                            
                                            time.b-news-small__date(datetime="2015-11-07")
                                                | 07.11.15



        include ./includes/footer.jade
