$default-ff: 'Roboto Slab', serif;
$default-fc: #222222;
$light-fc: #fffefe;
$color-orange: #e2630a;
$color-orange-l: #de960a;




$color-0: #fdd154;

@mixin input-common() {
	box-sizing: border-box;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	height: 35px;
	line-height: 32px;
	box-shadow: 0 2px 0px #393939;
	background: #fff;
}


@mixin button-header() {
	border: 2px solid $color-0;
	border-radius: 4px;
	display: inline-block;
	height: 64px;
	line-height: 56px;
	font-size: 26px;
	color: $light-fc;
	text-align: center;
	padding: 0 30px;
	text-decoration: none;
	transition: background 0.4s;
    box-sizing: border-box;

	&:hover {
		background: rgba(#fff, 0.3);
	}
}

@mixin button() {
	border: 2px solid #42a5b1;
	border-radius: 4px;
	display: inline-block;
	height: 54px;
	line-height: 50px;
	font-size: 21px;
	color: $default-fc;
	text-align: center;
	padding: 0 25px;
	text-decoration: none;
	transition: background 0.4s;
    box-sizing: border-box;

	&:hover {
		background: rgba(#42a5b1, 0.2);
	}
}